[2011-10-07 16:53] hotgazpacho opened #4 "Requests for a Project's Issues do not map the assignee field to the Assignee property of Issue"
I have assigned a user to an issue in YouTrack. When I request that's projects issues via YouTrackSharp, the Issue items that come back do not have their Assignee property populated.

[2011-10-19 18:20] #4 closed, assigned to nobody

[2011-12-25 09:29] pvandervelde opened #6 "Provide a strong named version of the library"
At the moment it is not possible to depend on this library if you want to strong name your own libraries because YouTrackSharp isn't strong named so it would be good to have a strong named version.

[2011-12-27 08:24] #6 closed, assigned to nobody

[2012-09-15 18:39] codekaizen opened #9 "YouTrack REST API which requires 'PUT' commands don't work due to apparent limitation in EasyHttp"
EasyHttp doesn't provide working support for PUT requests, since it fails to set the needed ContentLength. Using System.Net.HttpWebRequest as a workaround works.

[2012-10-12 12:38] kbagher opened #11 "issue in custom fields when creating new issue."
hi,
i'v tried several times to create a new issue that contains custom fields but it just won't work.
i even tried to get an issue from the YouTrack and use it's object to create a similar one:

[code]

but it also won't add any data to the the custom fields.

[2012-11-21 16:38] #11 closed, assigned to nobody

[2013-01-26 13:32] jrowies opened #15 "IssueManagement.GetIssuesBySearch is not returning tags"
Tags associated with issues are not being included in the Issue object returned by GetIssuesBySearch.

[2013-01-27 14:49] #15 closed, assigned to nobody

[2013-01-27 14:50] #9 closed, assigned to nobody

[2017-07-27 08:28] maartenba opened #38 "Implement IntelliSense for commands"
See https://www.jetbrains.com/help/youtrack/standalone/Intellisense-for-commands.html

[2017-07-27 08:28] maartenba opened #39 "Implement IntelliSense for Search"
See https://www.jetbrains.com/help/youtrack/standalone/Intellisense-for-issue-search.html

[2017-07-27 08:28] maartenba opened #40 "Implement Administration API's"
See the following URL's for documentation:

  * https://www.jetbrains.com/help/youtrack/standalone/Project.html
  * https://www.jetbrains.com/help/youtrack/standalone/Users.html
  * https://www.jetbrains.com/help/youtrack/standalone/Groups.html
  * https://www.jetbrains.com/help/youtrack/standalone/Role.html
  * https://www.jetbrains.com/help/youtrack/standalone/Permissions.html
  * https://www.je

[2017-07-27 08:28] maartenba opened #41 "Implement Agile board API's"
See https://www.jetbrains.com/help/youtrack/standalone/Agile-Board-REST-API.html

[2017-07-27 08:29] maartenba opened #42 "Implement import/export API's"
See the following URL's for documentation:

  * https://www.jetbrains.com/help/youtrack/standalone/Import-REST-API.html
  * https://www.jetbrains.com/help/youtrack/standalone/Export-Rest-API.html

Perhaps good to split the work for this in separate issues and PR's.

[2017-08-16 05:18] maartenba opened #49 "Implement user administration API's"
See https://www.jetbrains.com/help/youtrack/standalone/Users.html

* GET user https://www.jetbrains.com/help/youtrack/standalone/GET-User.html
* GET users https://www.jetbrains.com/help/youtrack/standalone/GET-Users.html
* PUT user https://www.jetbrains.com/help/youtrack/standalone/PUT-User.html
* POST user https://www.jetbrains.com/help/youtrack/standalone/POST-User.html
* DELETE user https://www

[2017-08-31 07:41] ptrushin opened #51 "Wrong Json Conversion in UnixDateTimeOffsetConverter"
In https://confluence.jetbrains.com/display/YTD4/Timestamps+in+REST+API

But in
https://github.com/JetBrains/YouTrackSharp/blob/master/src/YouTrackSharp/Json/UnixDateTimeOffsetConverter.cs
in method WriteJson I see ".ToUnixTimeSeconds()"
and because of this when I do
`timeTrackingService.CreateWorkItemForIssue("MA-2633", new WorkItem(new DateTime(2017, 1, 1), TimeSpan.FromHours(0.5), ""))`
then I

[2017-08-31 07:51] maartenba commented on #51
You are absolutely right! We;ll get that fixed.

[2017-08-31 08:27] maartenba commented on #51
Released in https://github.com/JetBrains/YouTrackSharp/releases/tag/3.0.1

[2017-08-31 08:27] #51 closed

[2017-08-31 09:27] #49 closed

[2017-08-31 09:40] ptrushin opened #54 "Create WorkItem with Author"
When I try to create WorkItem with Author field I get an exception

I think it is because method CreateWorkItemForIssue in YouTrackSharp.TimeTracking.TimeTrackingService call

And in documentation api youtrack I see for this call that is has no author

I think it must be a call with author, described in

but I can't find it in YouTrackSharp

[2017-08-31 11:36] maartenba commented on #54
Those are two different API's, the first one is the correct one.

403 effectively means forbidden, so may mean that the user you are creating a work item with has no permission to create a work item, or time tracking is not enabled. Note the work item should also have the correct work item type.

Do you have some more information? What is the call you are making? Do you have time tracking enabled

[2017-09-01 07:55] ptrushin commented on #54
1. About the first API - https://www.jetbrains.com/help/youtrack/standalone/Create-New-Work-Item.html - I think that if WorkItem has a constructor with Author I can fill this field. I get 403 only if I fill Author, in other case all is ok. Ok, I don't fill Athor fot this API
2. About the second API - https://www.jetbrains.com/help/youtrack/standalone/Import-Workitems.html -I need to fix time from

[2017-09-01 08:17] maartenba opened #55 "Implement Import Workitems"
See the following URL for documentation:

  * https://www.jetbrains.com/help/youtrack/standalone/Import-Workitems.html

Should be relatively easy to implement and write a test for.

[2017-09-01 08:19] maartenba commented on #54
This is not possible yet. Author is always the user who is making the API call, the second API has not been implemented yet in YouTrackSharp (tracking issue #55)

Worst case if you need it *now* you can call the API manualy, the `connection` also exposes an `HttpClient`:
[code]

(and if you happen to go that route, a PR to resolve #55 is only a bit more work ;-))

[2017-09-04 06:32] maartenba opened #57 "Implement Time Tracking Settings Methods"
Implemented missing [Time Tracking Settings Methods](https://www.jetbrains.com/help/youtrack/standalone/Time-Tracking-Settings-Methods.html):

* [GET System-wide Time Tracking Settings](https://www.jetbrains.com/help/youtrack/standalone/GET-System-wide-Time-Tracking-Settings.html)
* [PUT Time Tracking Settings for a Project](https://www.jetbrains.com/help/youtrack/standalone/PUT-Time-Tracking-Sett

[2017-09-04 06:32] maartenba commented on #57
Implementation: #56

[2017-09-04 11:33] maartenba commented on #57
Part of 3.1.0 beta release -> https://github.com/JetBrains/YouTrackSharp/releases/tag/3.1.0-beta-2

[2017-09-04 11:33] #57 closed

[2017-09-12 02:09] jrossgowan-pulsemining opened #58 "Extend properties: add `Created` & `Updated` for `TimeTracking.WorkItem`"
We are writing a small program with YouTrackSharp which migrates time tracking entries from YouTrack into an external system. I noticed the JSON returned from /rest/issue/*issue id*/timetracking/workitem has *created* and *updated* fields that reflect when each entry was added or modified. These would be pretty useful for us to avoid reimporting work items we have already seen and to identify upda

[2017-09-12 07:51] maartenba commented on #58
Will be in the YouTrackSharp 3.1.0 release.

[2017-09-12 07:51] #58 closed

[2017-09-26 12:40] LukasBoersma opened #60 "In F# project: System.Net.Http manifest definition does not match the assembly reference"
I want to use YoutrackSharp in my F# application. When I install the YoutrackSharp Nuget package and run my application, I get the following runtime error:

[code]

I use .F# 4.1, NET Framework 4.7 and Visual Studio 2017 (15.3.5). The same exception occurs with other .NET frameworks (I tested 4.6.1)

Steps to reproduce:

1. Create a new "F# Console Application" project in Visual Studio (with .NET

[2017-09-26 15:54] maartenba commented on #60
Looks like a NuGet thing somehow... Can you reference that System.Net.Http manually and see if that works?

[2017-10-24 12:19] maartenba opened #63 "JsonSerializationException serializing/deserializing system-wide time tracking settings"
`Newtonsoft.Json.JsonSerializationException : Error converting value 1 to type YouTrackSharp.Management.WorkDay'. Path 'workWeek[0]', line 1, position 43.`

Seems API changed to use just integers.

[2017-10-24 12:25] #63 closed

[2017-10-26 04:06] jrossgowan-pulsemining opened #64 "Add wikifyDescription param to IssuesService.GetIssues()"
We are trying to show user-facing descriptions of the issues returned by a specific query, however some issues contain wiki markup, which obscures the content of the description. It would be great if we could use wikifyDescription=true to fetch the description as HTML, so we could use an HTML parser to get a user-facing description of each issue.

## Expected behavior

- IssuesService.GetIssues()

[2017-10-26 05:50] maartenba commented on #64
New release is on its way.

[2017-10-26 05:50] #64 closed

[2017-10-26 05:52] jrossgowan-pulsemining commented on #64
Thanks for the quick response.

[2017-10-31 10:26] aschoelzhorn opened #66 "Update XML documentation: UserManagementService GetUsers only returns 10 users"
## Expected behavior
GetUsers called without paramters should return all users, not only the first 10 records.
The description says:  "Get a list of all available registered users."

## Actual behavior
only 10 users are returned

## Steps to reproduce the behavior
call GetUsers() without parameters, more than 10 registered users in Youtrack

[2017-10-31 10:40] aschoelzhorn opened #67 "Extend class User with RingId property"
## Expected behavior
ringId from response is mapped to property Id of User

## Actual behavior
no property Id in class user

## Steps to reproduce the behavior

[2017-10-31 10:43] maartenba commented on #67
For which operation is this?

[2017-10-31 10:51] maartenba commented on #66
Users are indeed returned per 10, for next pages the correct parameter should be used. Will update XML documentation.

[2017-10-31 11:04] maartenba commented on #67
Nevermind, adding this.

[2017-10-31 11:15] maartenba commented on #66
See https://github.com/JetBrains/YouTrackSharp/releases/tag/3.2.3

[2017-10-31 11:15] #66 closed

[2017-10-31 11:15] maartenba commented on #67
See https://github.com/JetBrains/YouTrackSharp/releases/tag/3.2.3

[2017-10-31 11:15] #67 closed

[2017-11-05 14:04] aschoelzhorn commented on #40
I'm implementing the API for
https://www.jetbrains.com/help/youtrack/standalone/Project-Custom-Fields.html

[2017-11-05 15:30] maartenba commented on #40
Sweet! Thanks @aschoelzhorn

[2017-11-15 07:16] maartenba opened #70 "Implement custom fields administration API"
https://www.jetbrains.com/help/youtrack/standalone/Custom-Fields-RestAPI.html

[2017-11-15 07:16] maartenba commented on #40
Thanks, logged #70 for that.

[2017-11-15 07:17] #70 closed

[2017-12-12 14:35] hanxinimm opened #71 "Issue issueId can't set custom value?"
![image](https://user-images.githubusercontent.com/13499426/33889878-81b099f2-df8c-11e7-875d-57d688720a67.png)

[2017-12-12 14:55] maartenba commented on #71
The ID can not be set, as it is autogenerated by YouTrack.

[2017-12-12 14:55] #71 closed

[2017-12-12 15:59] nylchr commented on #41
I'll take a look at this one.

[2017-12-19 14:37] nylchr commented on #40
I'm tempted to start with https://www.jetbrains.com/help/youtrack/standalone/Project.html but it raises the question about class definitions. There's already a Project class, derived from https://www.jetbrains.com/help/youtrack/standalone/Get-Accessible-Projects.html with a vastly different definition than the **two** different versions that https://www.jetbrains.com/help/youtrack/standalone/Proje

[2017-12-19 15:02] maartenba commented on #40
There can be a new `Project` class in the new (to be created) namespace for this? I'd say best to stick close to the API's, so having a specialized `Project` for each scenario seems feasible. Okay with inheritance regarding having a project id across all.

[2018-01-05 09:37] maartenba commented on #41
All part of YouTrackSharp 3.3.0 - thanks @nylchr !

[2018-01-05 09:37] #41 closed

[2018-04-24 16:50] Tenebrous opened #74 "How do you specify that a new issue description is in Markdown format?"

[2018-04-24 18:38] maartenba commented on #74
The API currently does not support this. Will check with the YouTrack folks if this is possible.
Which version of YouTrack are you using?

[2018-04-24 19:32] maartenba commented on #74
Just pushed a fresh version that supports Markdown. Check the `IsMarkdown` property on issue/comment objects.

[2018-04-24 19:32] #74 closed

[2018-04-24 19:41] Tenebrous commented on #74
Awesome, thanks!

[2018-04-24 22:01] Tenebrous commented on #74
Sorry... but we're on YouTrack InCloud 2018.1 and I get the following exception when I create an issue:
`Command [markdown True] is invalid:Unknown command: unknown command: markdown True`

[2018-04-25 11:10] MarkAudax opened #75 "Get YouTrack build number"

[2018-04-25 11:25] MarkAudax commented on #75
I've added this myself as an extension to Connection for now:

[code]

[2018-04-25 11:54] maartenba commented on #75
@MarkAudax do you happen to have a link to the documentation in the REST API for this one?

[2018-04-25 11:58] Tenebrous commented on #75
@maartenba Sorry no, but I got the idea from here: https://github.com/JetBrains/youtrack-rest-python-library/blob/1140fe3697d3bbd233f967a1ea0eac8544040e22/youtrack/connection.py#L1223

[2018-04-25 12:30] MarkAudax commented on #75
That was quick, thanks very much!

[2018-04-25 12:33] maartenba commented on #75
Release will be done later today. Thanks @MarkAudax for suggesting! (and PR's are always welcome :))

[2018-04-25 12:33] #75 closed

[2018-04-25 12:34] MarkAudax commented on #75
Perfect - I have forked and I'll get set up for PRs :)

[2018-05-01 14:52] MarkHutchings opened #76 "issue.GetField("Assignee").AsCollection() returns a List<string> with "System.Collections.Generic.List`1[YouTrackSharp.Issues.Assignee]", rather than the actual Assignee name"
See:
https://github.com/JetBrains/YouTrackSharp/blob/c591920981c9e0b8a4717856934be281b27251ad/src/YouTrackSharp/Issues/Field.cs#L71

[2018-05-01 15:54] MarkHutchings commented on #76
Just one!

[2018-05-01 15:55] MarkHutchings commented on #76
For now I'm doing: (List<Assignee>)issue.GetField("Assignee").Value - perhaps that's the preferred solution?

[2018-05-01 17:43] maartenba commented on #76
You can just get the `issue.Assignee[0]` as well.

[2018-05-02 08:19] MarkHutchings commented on #76
Ah, that works if the type is dynamic (i.e. issue.AsDynamic().Assignee[0]).

[2018-05-09 17:01] #76 closed

[2018-06-14 11:57] maartenba opened #77 "Support setting properties on HttpClientHandler"
Support setting properties on `HttpClientHandler` in both `BearerTokenConnection` and `UsernamePasswordConnection`. Scenarios could be configuring SSL etc.

An example could be setting the `HttpClientHandler`'s `ServerCertificateCustomValidationCallback`:

[code]

(Note the above is not a secure example as it disables SSL certificate checks!)

[2018-06-14 12:11] #77 closed

[2018-08-21 07:36] rkkrzy opened #78 "No interfaces of classes in solution - needed for mocking"
## What we want to do...
is to make unit tests base on YouTrackSharp classes like IssuesService and so I don't want to call server too often. Instead I would rather use interface of the class to mock it in any mocking package so no changes are applied during tests on company's YouTrack.

## The problem is...
that there are no interfaces what is pretty dissapointing and there are few ways around to

[2018-08-21 10:06] maartenba commented on #78
May I propose solution # 5?

5. Extract interfaces, create a pull request

That would be very welcomed, and we're definitely open to merging it in :-)

[2018-08-21 10:57] rkkrzy commented on #78
#79
**To not mess things up too much we just added interfaces that we needed for our mocking purposes.
Hope to see it running soon enough ;-)
Thanks for the answer.**

_/kn_

[2018-08-21 12:39] maartenba commented on #78
Thanks! Making a few additions. Would it matter if e.g. `IIssue` was not merged? Or would you need those simple objects as interfaces as well?

[2018-08-21 12:53] rkkrzy commented on #78
@maartenba we won't mind it. We will manage without **IIssue**. All we need are interfaces from services classes I added. **IIssue** was "just in case" addition and we won't really have to mock it. Sorry for the inconvenience!

[2018-08-21 12:54] maartenba commented on #78
No worries. Will merge it into `develop` and release an alpha build on NuGet later on which you can test with. Thanks for your contribution and suggestion!

[2018-08-21 13:36] maartenba commented on #78
(and because introducing these interfaces means version should go to 4.0, I will also target .NET Standard 2.0)

[2018-08-21 13:58] maartenba commented on #78
There you go :) https://github.com/JetBrains/YouTrackSharp/releases/tag/4.0.0-develop-201808210153 (pushed to NuGet, should be visible there soon, too)

[2018-09-03 23:30] jrossgowan-pulsemining opened #80 "Better exception for TimeTrackingService.GetWorkTypesForProject()"
I have a program that calls GetWorkTypesForProject on each project in a YouTrack instance. Recently, someone added a project in which time tracking was disabled. YouTrack returns an HTTP 400 response with an error message when I call GetWorkTypesForProject on this project. I'd like to ignore this error, but on the C# side, I just get a HttpRequestException, which is hard to distinguish from other

[2018-09-04 07:30] maartenba opened #81 "Update to new agile board API"
The agile board API has been removed in YouTrack 2018.2. Users on previous versions will still be able to use it, but the API will always return 404 errors on YouTrack 2018.2 and above.

When new API is available, update library to make use of it.

[2018-09-04 07:56] maartenba commented on #80
Thanks, just pushed a prerelease version that has this covered:
https://github.com/JetBrains/YouTrackSharp/releases/tag/4.0.0-develop-201809040744

[2018-09-04 07:56] #80 closed

[2018-09-04 23:36] jrossgowan-pulsemining commented on #80
Great, thanks!

[2019-02-05 08:03] maartenba opened #82 "Test"
Test

[2019-02-05 08:05] #82 closed

[2019-04-03 09:55] bschaeublin opened #83 "doesn't support the new API on 2019.1"
## Expected behavior
getting a list of issues should not get a 404.

## Actual behavior
getting a list of issues results in a 404, after our youtrack instance was updated to 2019.1

## Steps to reproduce the behavior
Code which broke after Youtrack was updated
https://example.myjetbrains.com/youtrack/rest/issue?filter=test

Steps to solve the problem:
- Replace "rest" with "api"
- Replace "issue"

[2019-04-03 12:52] maartenba commented on #83
An API overhaul has been done in 2019.1. We are looking at working on a new version of YouTrackSharp, for now 2019.1 is unfortunately not supported.

[2019-04-03 12:52] maartenba commented on #60
Closing issue, feel free to re-open if this is still an issue.

[2019-04-03 12:52] #60 closed

[2019-04-03 12:55] bschaeublin commented on #83
Thank you for your reply. I guess this will take some time?

I'm using 3 Endpoints so far, so I'll then create a light-weight client on my own until an official new version will be released.

[2019-04-03 12:58] maartenba commented on #83
Yes, will take a bit of time, sorry for the hiccup :)

[2019-04-05 15:00] maartenba commented on #83
@bschaeublin Would you mind trying with the 2019.1 prerelease version from NuGet?
https://www.nuget.org/packages/YouTrackSharp/2019.1.0-alpha-00003

[code]

[2019-04-06 12:10] bschaeublin commented on #83
@maartenba Thank you! At least GetIssueCount does work now.
But i still get some problems when I call GetIssues with a specific query, which worked before.
I think i can delimit it to the date range search. Maybe it is a data problem too, as the Internal Server Error occurs on page 3, when paging with 100.

Please see attached screenshot:
![image](https://user-images.githubusercontent.com/11610660

[2019-04-07 09:54] maartenba commented on #83
That could be a data problem indeed. Do you see the same issue with other queries or only this one?

[2019-04-08 10:17] bschaeublin commented on #83
I've managed to successfully run a query on a small test project. Is there a way to provide some more details on the 500 Issue? Can you reproduce the issue with any querys on bigger projects and paging through?

We're using it as SAAS, but I don't think i've enough privileges to get some logs.

[2019-04-08 14:05] maartenba commented on #83
Paging seems to work, just added a unit test testing this explicitly: https://github.com/JetBrains/YouTrackSharp/commit/5116ca89c3362b51359c7764c6479467cb5bb0c8

Could you perhaps reach out to YouTrack support to troubleshoot that 500 error?

[2019-04-08 15:30] bschaeublin commented on #83
I had some time (holidays!) and managed to find out some stuff.

I edited your unit test to connect to our youtrack instance and changed the test a bit:
[code]

The test **failed**, so i edited the `IssueService.Querying.cs` `GetIssues `Method to take the new api andpoint `/api/issues` instead of `/rest/issue` and the the test **succeeded**.

I compared the api results and discovered that the new

[2019-04-08 18:52] maartenba commented on #83
Regarding the error 500, can you email me the query, project name and instance name? (maarten at jetbrains .com)

[2019-04-08 20:33] bschaeublin commented on #83
thank you for taking a look - i've sent it.

[2019-04-10 06:00] maartenba commented on #83
After e-mail discussion this got flagged as a bug in YouTrack itself. Will proceed with 2019. release of this library.

[2019-04-10 06:00] #83 closed

[2019-04-25 19:22] Jaben opened #86 "UsernamePasswordConnection missing?"
## Expected behavior

'UsernamePasswordConnection' is referenced in the readme -- but it doesn't appear to exist.

## Actual behavior

It's supported in addition to BearerTokenConnection

## Steps to reproduce the behavior

Try to use UsernamePasswordConnection.

[2019-04-25 19:23] maartenba commented on #86
This is no longer supported in 2019.1. Older versions still have it available.

[2019-04-25 19:24] maartenba commented on #86
Updated README, good catch.

[2019-04-25 19:24] #86 closed

[2019-07-01 09:19] NinjaCross commented on #6
I really like this project, but as of today (8 years after the creation of this issue !), the assembly is still not signed, so it cannot be used in any strong-named context.
Unfortunately, this makes it completely unusable in all my enterprise-related projects.

[2019-07-08 16:11] bouil opened #87 "Define content-type header in IssuesService.AttachFileToIssue"
Using YouTrackSharp 2019.1.0.0

## Expected behavior

- Using IssueService.AttachFileToIssue with an XLSX file.
- Document is uploaded.
- When downloading the file from Youtrack, it's expected to be able to have the correct content type header

## Actual behavior

- File is served as a ZIP file.

## Possible fix ?

Allow uploader to specify content type in the MultipartFormDataContent object in th

[2019-07-08 16:53] maartenba commented on #87
Fixed (pending validation on NuGet.org)

[2019-07-08 16:53] #87 closed

[2019-07-08 17:25] bouil commented on #87
Thanks, I confirm that you commit fixes the issue.

[2019-10-02 05:39] NillerMedDild commented on #81
Is there any update on this issue? Being able to work with Agile Boards through YouTrackSharp would be very beneficial to me.

[2019-10-02 06:35] maartenba commented on #81
Right now, no news here, sorry.

The new API should be available in case you want to work around it for now https://www.jetbrains.com/help/youtrack/standalone/resource-api-agiles.html

[2019-10-02 08:22] NillerMedDild commented on #81
No worries, I'll use the API for now as you suggest.

Thanks for the quick response!

[2019-10-10 08:46] FinkoAI opened #89 "UserManagementService .CreateUser replaces ' ' with '+'"
## Expected behavior
We are using UserManagementService .CreateUser (https://github.com/JetBrains/YouTrackSharp/blob/192/src/YouTrackSharp/Management/UserManagementService.cs#L86) for users creating in our library. In case of sending full name like "FirstName LastName" it should create user with the full name equals "FirstName LastName"

## Actual behavior
Actually it works wrong and saves it as s

[2019-10-10 12:03] maartenba commented on #89
Fresh package has been uploaded to NuGet, should be visible there shortly.

[2019-10-10 12:03] #89 closed

[2019-10-10 13:01] FinkoAI commented on #89
@maartenba Thanks for the quick fix.

[2019-10-14 03:28] FinkoAI commented on #89
@maartenba We have checked the fix. And there is another issue now. Is replaces ' ' character with the '%20'. I guess FormData shouldn't be escaped and it could be passed as is.

[2019-10-14 03:32] FinkoAI opened #90 "UserManagementService .CreateUser replaces ' ' with '%20'"
## Expected behavior
There is still an issue in POST/PUT requests. It is linked to the #89.
## Actual behavior
 Currentlu it replaces spaces in string with the space escape code '%20'. I guess the reason is escaping strings for FromData requests. In case of POST/PUT data could be sent as is, because of sending in request body, but not in the URL

## Steps to reproduce the behavior

[2019-10-15 01:55] maartenba commented on #90
Thanks! Fix is on its way to NuGet

[2019-10-15 01:55] #90 closed

[2019-10-19 00:06] CyrilCoq opened #91 "UserManagementService .CreateUser replaces '@' with '%40'"
## Expected behavior
The email address should be valid and as entered with the @ sign

## Actual behavior
The email address has the @ sign replaced by %40

## Steps to reproduce the behavior
Create new user with an email address and it will "Encode" it.
Same as issue #90 I believe we need to leave the string as is, no encoding since it will be be re-encoded in the body somehow.

[2019-10-19 04:19] maartenba commented on #91
Thanks, just pushed a fresh one. Password is still being encoded for now

[2019-10-19 04:19] #91 closed

[2019-10-23 16:20] CyrilCoq commented on #91
Thank you for your reactivity !

[2019-10-23 17:07] CyrilCoq opened #92 "IsMarkDown on case creation not fully implemented"
## Expected behavior
When using IsMarkDown = false it should create a case without the Markdown option ( YouTrack Wiki ). The Querystring sent to YT should show markdown=false.

## Actual behavior
Nothing is appended to the QueryString when using IsMarkDown = false. ( only appended when IsMarkDown = true )

## Steps to reproduce the behavior
Create an issue and use IsMarkDown = false, the querystr

[2019-10-23 21:57] maartenba commented on #92
Good catch! Let me see if I can get that fixed.

[2019-10-23 22:29] maartenba commented on #92
New release should be up shortly.

[2019-10-23 22:29] #92 closed

[2019-10-24 00:33] CyrilCoq commented on #92
Thank you :)

[2019-10-29 00:33] sgupta226 opened #93 "BearerTokenConnection not working"
I was trying to add comment using code into particular youtrackitem.
but it is giving 404 error. not sure what is correct api url

 var youtrackConnection = new YouTrackSharp.BearerTokenConnection("https://prosperoware.myjetbrains.com/youtrack/api/", "token");

                    var issuesService = youtrackConnection.CreateIssuesService();

                    Task backgroundJobAwaiter = Task.Ru

[2019-12-19 14:38] WKleinschmit opened #94 "Request-URI Too Long"
Thr following code:

[code]
Results in a System.Net.Http.HttpRequestException with the message
"Response status code does not indicate success: 414 (Request-URI Too Long)."

What am I doing wrong here?

[2019-12-19 14:41] maartenba commented on #94
Think that mostly depends on the length of the description and summary in the issue, could you try a shorter one?

[2019-12-19 15:00] WKleinschmit commented on #94
I can try. But I need the (admittadly long) description. Is there a way to edit it after creation of the issue?

Also: Shouldn't the description be transmitted in the body of the request as stated here: https://www.jetbrains.com/help/youtrack/standalone/2019.2/api-howto-create-issue.html

[2019-12-19 15:38] maartenba commented on #94
That's a newer API, will see if I can push a change for that.

[2019-12-19 15:49] WKleinschmit commented on #94
Can't wait...

[2020-03-24 12:38] WKleinschmit opened #95 "How to create a new issue?"
Hello,
I'm using version 2019.2.0 on a version on a 2019.2 server and I want to create a new issue.
This is my code:
[code]
During the call to `CreateIssue` my program just ends without any error message and the issue is not created.
What am I doing wrong?

[2020-03-24 15:11] maartenba commented on #95
Nothing, it seems :-) Code is similar to [the test we have here](https://github.com/JetBrains/YouTrackSharp/blob/192/tests/YouTrackSharp.Tests/Integration/Issues/CreateIssue.cs#L14), so that should be good.

Any chance you could try to add a try/catch around it or use another means of capturing the unexpected end of your app?

[2020-03-25 07:18] WKleinschmit commented on #95
I've tried the same call using the RestSharp library and it turns out the issue creation fails with a "BadRequest" response due to some workflow that is denying access. (Issue to our IT is pending,)

But still, that should not make the whole program just vanish.
And no, a try/catch block around the call does nothing. Looks like there is no exception to catch, the program is just aborted.

[2020-03-25 07:59] maartenba commented on #95
YouTrackSharp throws an exception when this happens, the app/.net runtime should be able to handle that gracefully.

Wondering if you have some code we could use to reproduce the issue?

[2020-06-27 01:06] Jaben commented on #94
The latest release has been updated to YouTrack 2020 client -- please try it now.

[2020-08-06 06:49] Jaben commented on #94
@maartenba is there an ETA for to move to the newer REST API? Is the workaround to truncate the Summary or Description or both? If so, what is the max length?

Thanks.

[2020-08-06 07:24] maartenba commented on #94
@Jaben There is no ETA right now.

As for max length, this should be ~10000 characters.

[2020-08-06 07:50] maartenba commented on #94
@Jaben Regarding new API, if needed you can use the OpenAPI spec (https://www.jetbrains.com/help/youtrack/standalone/openapi-specification.html) and generate a client (e.g. using [NSwagStudio](https://github.com/RicoSuter/NSwag/wiki/NSwagStudio)). This may be the route we will take as well (with helpers for many methods)

[2020-10-14 13:48] MudraMartin opened #96 "NullReferenceException on Issue Description"
When you load Issues and you receive an issue without description (and yes that could happen)
This method will fail when Description is not existent (the same will be for all properties)

 public string Description {
            get
            {
                var field = GetField("Description");
                return field?.Value.ToString();
            }
            set => SetField("Descripti

[2020-10-14 14:32] maartenba commented on #96
@LightCZ do you have an example of the exception + stack trace?

Code right now should return "null" if description is not there.

[2020-10-28 16:12] Elwetana opened #98 "Field names ignore case: why?"
The current implementation parses JSON from server while ignoring the case of field names. This behaviour is AFAIK implemented in file `Issues/Issue.cs` on line 22:

[code]

I am not sure why we have this behaviour -- JSON is case-sensitive and YouTrack can have two different fields that only differ in case (in my case it was fields `Sprint` and `sprint`). I was able to fix it by simply changing t

[2020-10-28 16:40] maartenba commented on #98
No idea what the reason was there to be honest. Might be OK to update it.

[2020-10-29 13:32] #98 closed, assigned to nobody

[2020-10-30 08:04] Elwetana opened #100 "Switch to the new REST API"
Can I ask about the plans for support of the new REST API of YouTrack? Currently we are using the old `/rest/...` interface, but, if I understand it correctly, JetBrains wants to move to the new `/api/...` endpoint. This is obviously a substantial change, is there a plan to do it? Or do you have an insight into the state of development of different REST APIs in YouTrack?

Thanks for any informatio

[2020-10-30 12:06] maartenba commented on #100
The idea is to work with code generation based on the OpenAPI spec YouTrack provides for the new API.
We are looking at this right now, but no news to share yet.

Relates to #94

[2020-10-31 17:56] Elwetana commented on #100
Alright, thank you.

[2020-10-31 17:56] #100 closed, assigned to nobody

[2020-12-16 18:20] apuchkov opened #101 "Is support for Markdown in text custom fields on the roadmap?"
Hello,

We have a Release Notes custom text field in YouTrack. We pull it via API to display in the external release notes generator app.

The issue we came across is that there's no way to get markdown text converted to HTML using YouTrackSharp client.

YouTrack API itself returns markdown text transformed to HTML when requested. For a example a request like this:
`
http://youtrackurl/api/issues/

[2020-12-21 12:07] maartenba commented on #101
This is all the "new" YouTrack API, and YouTrackSharp still uses the previous API. We're currently looking at updating the library to use it, but no ETA yet.

[2021-01-22 23:07] ryanmaynord opened #102 "Configure BearerTokenConnection timeout"
This might be more of a question than an issue, but is there anyway to set the HttpClient timeout on the BearerTokenConnection object? I've been trying to play around with the object, and using the GetAuthenticatedHttpClient() for setting this property, but I am not having any luck.

Any help would be appreciated.

If this is not supported, I think this would be an extremely convenient feature to

[2021-01-23 08:13] maartenba commented on #102
Is there any reason for setting a timeout? If you have some sort of pseudo-code sample of what you want to achieve that may be of help too.

[2021-01-24 17:41] ryanmaynord commented on #102
Our YouTrack server experiences heavy load during certain parts of the day, and due to this, some of the reports we pull using YouTrack queries can take longer than expected. Sometimes this wait time exceeds the default timeout (100 seconds) of the HttpClient object, which results in these reports failing.

Right now I'm emulating the backend code of YouTrackSharp to obtain what I need for these r

[2021-01-25 08:03] maartenba commented on #102
There you go, the `BearerTokenConnection` now has a property to configure `Timeout`.

[2021-01-25 08:18] #102 closed, assigned to nobody

[2021-01-25 12:52] ryanmaynord commented on #102
@maartenba Thanks so much!

[2021-06-07 19:10] apuchkov opened #104 "Discontinuing the Legacy REST API: Action Required"
Hello,

It seems that this library uses legacy YouTrack API which is being discontinued:
https://blog.jetbrains.com/youtrack/2021/02/discontinuing-the-legacy-rest-api-action-required/

Are there plans to update this library to use a new API?

Thanks

[2021-06-07 19:27] maartenba commented on #104
Hi @apuchkov - check https://blog.jetbrains.com/youtrack/2021/02/discontinuing-the-legacy-rest-api-action-required/#remark42__comment-cff1dd5e-b0bf-4372-809f-80e6e1db6066 for the discussion around this topic.

[2021-06-07 23:37] apuchkov commented on #104
Great to know that you are working on a replacement. Looking forward to it. Thanks

[2021-06-07 23:37] #104 closed, assigned to nobody

[2021-06-11 07:01] ptheuwis opened #105 "Deprecated REST API"
As received by email from YouTrack, the REST API will be depreciated as of july 2021. "In the upcoming 2021.3 release, support for this version of the API will be discontinued. This means that its endpoints will be deactivated to ignore incoming requests."
https://www.jetbrains.com/help/youtrack/incloud/2021.2/monitor-rest-api-traffic.html

Will this library being updated?

Thanks.

[2021-06-11 13:42] SteveHaine commented on #96
/// <summary>
        /// Gets a specific <see cref="Field"/> from the <see cref="Fields"/> collection.
        /// </summary>
        /// <param name="fieldName">The name of the <see cref="Field"/> to get.</param>
        /// <returns><see cref="Field"/> matching the <paramref name="fieldName"/>; null when not found.</returns>
        public Field GetField(string fieldName)
        {
           r

[2021-06-11 15:08] SteveHaine commented on #96
fixed in my fork if required SteveHaine/YouTrackSharp

[2021-06-11 16:19] maartenba commented on #105
Hi @ptheuwis - check https://blog.jetbrains.com/youtrack/2021/02/discontinuing-the-legacy-rest-api-action-required/#remark42__comment-cff1dd5e-b0bf-4372-809f-80e6e1db6066 for the discussion around this topic.

[2021-06-11 16:39] ptheuwis commented on #105
Thank you for the response! If I understand correctly, there will be a new version launched of YouTrackSharp. Is this new version launched before July 1st?

[2021-06-11 16:47] SteveHaine commented on #105
I have made a start on this for some work I needed (mainly relating to IssueWorkItem & Time Tracking) on my fork https://github.com/SteveHaine/YouTrackSharp.

[2021-06-21 11:38] Eb0nheart commented on #105
@maartenba Are there any updates on the progress of the package update? I cant seem to find what the expected release of it is and i don't know whether to wait or start refactor our code to use the AuthenticatedHttpClient to use the new API instead.

[2021-06-22 10:07] jk1 commented on #105
@SteveHaine @Eb0nheart @ptheuwis  we are working on the new YouTrackSharp version right now. The current plan is to make it available before July 1st. We'll start disabling the deprecated API in the cloud no earlier than July 13th, so you should have a bit of a breathing space there.

Please note, that it's likely to be the binary incompatible change, so some work may be required on your side as w

[2021-06-23 21:11] ptheuwis commented on #105
Good news @jk1 ! Thank you.

[2021-07-05 16:44] rekolobov commented on #105
Dear all,
Please accept my deepest apologies for the delay with release publication and lack of communication.

2021.3.0 has been made [available for download](https://www.nuget.org/packages/YouTrackSharp/2021.3.0)

Please carefully inspect [release notes](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.0) -- they should assist you in migrating your code.
We have tried to keep API c

[2021-07-05 16:44] #105 closed, assigned to nobody

[2021-07-06 05:37] rekolobov commented on #94
Fixed by #105 and 2021.3.0 release

[2021-07-06 05:37] #94 closed

[2021-07-06 07:13] rekolobov commented on #101
Fixed in [2021.3.1](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.1) by introducing `wikifyContents` parameter for `GetIssue*` methods, although migration described in [2021.3.0](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.0) would be required

[2021-07-06 07:13] #101 closed, assigned to rekolobov

[2021-07-06 07:23] rekolobov commented on #96
@SteveHaine thanks a lot! I took a liberty to copy your change wrt Issue.GetField, Issue.Summary and Issue.Description to [2021.3.1](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.1) (mind that it requires migration described in [2021.3.0](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.0))

I don't think cherry-picking this to 2020.* is needed at this time, but we c

[2021-07-06 07:23] #96 closed, assigned to maartenba, rekolobov

[2021-07-20 12:36] kolibaba opened #106 "Client 2020.1.0 does not work from today"
Yesterday API version 2020.1.0 worked (the project uses .Net 4.8, so we use this version).
Today I went wrong with an error:

The code:
connection = new BearerTokenConnection ("https: // [some name] .myjetbrains.com / youtrack", "[token]");
connection.CreateIssuesService (). GetIssues (...);

Error:
System.Net.Http.HttpRequestException: Response status code does not indicate success: 400 (Bad Requ

[2021-07-20 12:42] maartenba commented on #106
The older library uses a now deprecated API in YouTrack - https://blog.jetbrains.com/youtrack/2021/02/discontinuing-the-legacy-rest-api-action-required/

The new release of this library supports the new API's. Some breaking changes are documented in https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.0

[2021-07-20 12:52] #106 closed, assigned to nobody

[2021-07-20 12:58] kolibaba commented on #105
Do I understand correctly that the new version of YouTrackSharp cannot be used in our project, because it uses .net 4.8?

[2021-07-20 13:07] kolibaba commented on #106
Do I understand correctly that the new version of YouTrackSharp cannot be used in our project, because it uses .net 4.8?

[2021-07-20 13:22] kolibaba opened #107 "2021.3.1 is not working"
Tying to get issues from YT:
[code]
Got error:
[code]

[2021-07-20 13:23] kolibaba commented on #107
Token is valid. Tried getting a new token and got the same error

[2021-07-20 14:01] maartenba commented on #106
The library targets `netcoreapp3.1` (.NET Core 3.1 and up)

[2021-07-20 14:30] rekolobov commented on #107
@kolibaba hi, please check if your token scope is _both_ YouTrack and Hub and re-issue it if it's not so
due to changes in api we had to make this a requirement

see other breaking changes described [here](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.0) in case you missed it

[2021-07-21 06:00] kolibaba commented on #107
Can't find scope hub
![image](https://user-images.githubusercontent.com/2988196/126438670-d1fb3a0d-b8f7-4330-8fb9-5e1fe597942f.png)

[2021-07-21 12:12] Klim0o0 opened #108 "2021.3.1 Не могу получить поле типа "StateMachineIssueCustomField""
![image](https://user-images.githubusercontent.com/62948134/126483349-752e028f-c46d-4317-a8f2-93f6bce16f6e.png)

Api отдаёт State с типом StateMachineIssueCustomField, а клиент не может спарсить его, по всей видимости ожидая тип "StateIssueCustomField"

добавление в строку 16761 ` [JsonInheritanceAttribute("StateMachineIssueCustomField", typeof(StateIssueCustomField))]`  https://github.com/JetBrai

[2021-07-22 02:23] rekolobov commented on #107
apologies,
seems the scope was chosen correctly in your case indeed

could you please check exception's Response property?
assitionally, you could provide your instance name so that I could check server logs if it's required

[2021-07-22 02:25] rekolobov commented on #108
спасибо большое, выпустим билд с исправлением в ближайшие пару дней

[2021-07-22 05:44] kolibaba commented on #107
{"error":"invalid_token","error_code":401,"error_description":"Token is granted for [YouTrack] and can't be used for 0-0-0-0-0","error_developer_message":"Token is granted for [YouTrack] and can't be used for 0-0-0-0-0"}

[2021-07-22 11:19] rekolobov commented on #107
Then generating new token with default selected scopes `YouTrack` and `YouTrack Administration` must help in your case (`0-0-0-0-0` is exactly `YouTrack Administration`)

Note how `Scope Services` should look for a correct token
![screenshot](https://user-images.githubusercontent.com/2941429/126631207-80108e38-6433-40d9-ac98-58d3b02d14db.png)

[2021-07-22 11:39] kolibaba commented on #107
Thks, it works now! I used wrong token before, without admin scope.

[2021-07-22 11:43] #107 closed, assigned to nobody

[2021-07-23 06:03] kolibaba opened #109 "Package YouTrackSharp 2021.3.1 is not compatible with net48"
## Expected behavior
The ability to use the library

## Actual behavior
Can't add ref to lib

## Steps to reproduce the behavior
Trying install by Nuget console

[2021-07-23 10:12] rekolobov commented on #109
we're expecting to release compatible build today

[2021-07-26 07:12] kolibaba commented on #109
When to expect a new release?

[2021-07-26 12:31] kolibaba commented on #109
Tried version 2021.3.2.0 from git - works fine in my project . Waiting for publication in Nuget

[2021-07-26 13:56] rekolobov commented on #109
yup, apologies for delays, I've been trying to get packaging straight since Friday -- somehow we get issues with references to system libraries for target 4.8 (no other issues though), hope to resolve today

otherwise I'll just package a prerelease build and release a proper build tomorrow or on Wednesday

[2021-07-26 15:32] rekolobov commented on #109
2021.3.2 has finally been published to NuGet, please ping us back if you find any issues with library references

[2021-07-26 15:32] #109 closed, assigned to nobody

[2021-07-26 15:37] rekolobov commented on #108
Прошу прощения за задержку, оформил релиз [2021.3.2](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.2), NuGet пакет также опубликован

[2021-07-26 15:37] #108 closed, assigned to rekolobov

[2021-07-28 13:47] gh-pp opened #111 "Custom fields problem"
## Expected behavior
Custom fields declared in code should be sended to the yt api. Version 2021.3.3
## Actual behavior
Custom fields declared in code  are not transposed to request - code example:
[code]

Is transposed to request without any custom fields data (via fiddler):
[code]

## Steps to reproduce the behavior
Showed above

[2021-07-28 13:56] gh-pp opened #112 "Error casting types"
## Expected behavior
Valid casting EnumBundleElement

## Actual behavior
While Im trying to fetch data via issueService.GetIssue  after upgrade to version 2021.3.3 I get an error
[code]

[2021-07-28 14:15] gh-pp commented on #111
I figured out that in code there is customfields implementation connected with commands - it works but only in case where custom fields are not required. In youtrack api docs (https://www.jetbrains.com/help/youtrack/devportal/api-howto-create-issue-with-fields.html#step-by-step) there is example to send it in one request.

[code]

[2021-07-28 16:22] rekolobov commented on #111
Thanks for the report!

The old code was based on commands as well, but since https://youtrack.jetbrains.com/issue/JT-64160 was fixed in 2021.3, I'd have to change this logic.
Unfortunately, I was mistakenly using YT 2021.2 for most of the tests and thus overlooked the problem.

It might take a couple of days, since I don't remember atm whether specifying exact value for `$type` is required -- if

[2021-07-28 16:24] rekolobov commented on #112
@gh-pp Could you please provide a bit more details about configuration and values of particular field in your tracker? Thanks!

[2021-07-29 09:12] gh-pp commented on #112
Thats is what i've found in api response:
<img width="385" alt="Screenshot 2021-07-29 at 11 10 37" src="https://user-images.githubusercontent.com/88095885/127465153-c64194d5-97a8-455c-85df-0970c6e81bb4.png">

[2021-08-03 08:59] timgaunt commented on #81
Are there any plans to support the new API? It looks as though there's a PR ready. Would be good to get it in place: https://github.com/JetBrains/YouTrackSharp/pull/103

[2021-08-06 12:38] rekolobov commented on #112
Released [2021.3.4](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.4) and published to NuGet

Please check if your issue was indeed diagnosed correctly and fixed

[2021-08-06 12:38] rekolobov commented on #111
Released [2021.3.4](https://github.com/JetBrains/YouTrackSharp/releases/tag/2021.3.4) and published to NuGet

[2021-08-06 12:38] #111 closed, assigned to rekolobov

[2021-08-09 07:16] gh-pp commented on #112
Everything works fine, thank you

[2021-08-09 07:16] #112 closed, assigned to rekolobov

[2021-11-25 17:23] Elwetana opened #113 "Adding a comment"
As far as I can say, YouTrackSharp now only supports retrieving, updating and deleting comments, but not creating new ones.

Is it correct? If so, is there some reason for it (i.e. is there some hidden pitfall)? I would be willing to take a stab at it, if it's only matter of nobody getting around to do it yet.

Thank you.

[2021-11-26 15:44] Elwetana commented on #113
I have looked into it and it was very simple (if I am not doing something wrong). I've created pull request #114 with my changes.

[2022-01-03 15:17] ajmaley95 opened #115 "Calling BearerTokenConnection.GetAuthenticatedApiClient hangs"
## Expected behavior
Expecting GetAuthenticatedApiClient to return a YouTrackClient object

## Actual behavior
GetAuthenticatedApiClient call never returns

## Steps to reproduce the behavior
Call GetAuthenticatedApiClient. Tried the following:

var _newClient = _connection.GetAuthenticatedApiClient().Result;
var _newClient = await _connection.GetAuthenticatedApiClient();
var _newClient = await _c

[2022-01-03 15:21] ajmaley95 commented on #115
FYI, to resolve this issue, we had to add .ConfigureAwait(false) calls to the awaitable async methods in GetAuthenticatedApiClient. We'd prefer not to have a copied/modified version of the YouTrackSharp project in our code base though.

[2022-01-26 23:05] rekolobov commented on #115
@ajmaley95
Hi, please accept my apologies for not responding earlier

I was able to reproduce similar behavior only during youtrack server startup in very specific cases
Otherwise I can't see why this could happen, though I might be not handling some setups properly

Could you please elaborate on how you are using the API or some specifics of your installation? If there is some sensitive data invo

[2022-01-27 20:04] #113 closed, assigned to nobody

[2022-02-01 12:24] dse-copsfs opened #116 "Token is granted for [YouTrack] and can't be used for 0-0-0-0-0"
## Expected behavior
Get a list of projects.

## Actual behavior
An exception
[code]

## Steps to reproduce the behavior
1. Create a new permanent token (scope: YouTrack) for some user of a cloud version (our instance is: https://cops-cz.myjetbrains.com/youtrack)
![](image.png)
1. **YouTrackSharp** nuget package v. **2021.3.6**
1. Following https://github.com/JetBrains/YouTrackSharp, we tried:
[co

[2022-02-01 16:11] rekolobov commented on #116
Hi, please create a permanent token while selecting both `YouTrack` and `YouTrack Administration` scopes
![token](https://user-images.githubusercontent.com/2941429/152005832-cef0ddbd-25a5-4146-a817-5112e20f901f.png)

[2022-02-01 16:41] dse-copsfs commented on #116
Hello, thanks, now it works. I have one following question, please. Our use case is read-only. No manipulation with users/projects. In this case, is the `YouTrack Administration` scope needed too?

[2022-02-08 15:59] vvkirik1 opened #117 "GetChangeHistory() NullReferenceException in JArray conversion for Change with ProjectActivityItem changed from Null to Something"
## Expected behavior
Get proper changeHistory of an issue by IIssuesService.GetChangeHistoryForIssue(issueId).Result
## Actual behavior
In YouTrackSharp.Issues.IssuesService => GetChangeHistoryForIssue() at the end conversion from ActivityItem to Change via Change.FromApiEntity() proceeds, during which Activities with type ProjectActivityItem type setting From/To Value property with new JArray cre

[2022-02-09 07:28] vvkirik1 commented on #117
Any workarounds tho?

[2022-05-04 17:20] conradakunga opened #118 "AgilesGetAsync does not correctly populate issue custom fields"
I have the following code to pull agile boards, sprints and issues

[code]

## Expected behaviour

The name and value of the custom fields should be populated

## Actual behaviour

The name is populated but the value isn't.

However, if I change the fields from this

`customFields(name,value)`

to this

`customFields(name,value(id,fullName))`

The output changes from this

![image](https://user-im

[2022-09-02 15:51] labsilva opened #120 "CreateWorkItemForIssue fails with Bad Request error"
## Expected behavior
Using the YouTrackSharp Nuget package (version 2021.3.6) to create a work item for an existing issue should correctly create the work item in the issue.

YouTrack server on-prem, Build 2022.2.53793, Fri, Aug 19, 2022.

## Actual behavior
The request fails with the following error:

[code]

Could not find any reference to this error on my Google searches.

I've triple-checked t

[2022-09-24 04:45] kim-lindhard commented on #116
You need both the `YouTrack` and the `YouTrack Administration` scopes in the ` Permanent Token`

I tried creating a ` Permanent Token` with only the `YouTrack` scope and got the `401` error code
I tried creating a ` Permanent Token` with only the `YouTrack Administration` scope and got the `401` error code

[2022-10-27 12:08] dpolivanov opened #121 "How to get git commit text for issue id"
How can I get the text of a gitLab commit? Does CreateIssuesService not have this option?

[2022-11-08 20:42] Dronissim0 opened #122 "SetField value doesn't update the actual value."
## Expected behavior
calling Issue.SetField("FieldName", "FieldValue") change the issue field.

## Actual behavior
calling Issue.SetField("FieldName", "FieldValue") doesn't change the issue field

## Steps to reproduce the behavior
//string request is my valid request string
 var task = await service.GetIssues(request).ConfigureAwait(continueOnCapturedContext: false);
            var issue = task.

[2022-11-11 11:20] Dronissim0 commented on #122
Update:

I didn't find a way to fix that problem via SetFields, but I have found a workaround via
`service.ApplyCommand(issue.Id, "State Test");`